*{
  font-family:sans-serif;
  margin: 0%;
  padding: 0%;
}

.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.logo-text{
  margin-top: -10px;
  width: 130px;
}
.bi{
  margin-right: 15px;
}
i{
  font-size: 1.3rem;
}
i:hover{
    cursor: pointer;
}
.sidebar{
  /* border-right: 1px solid grey; */
  padding-right: 30px;
}
.postcontainer{
  width: 60%;
  margin-left: 0%;
  display: block;
  margin-left: 19%;
  /* background-color: peru; */

}
.postinnercontainer{
  width: 60%;
  position: relative;
  /* display: flex; */
  display: none;
  /* background: #000; */
  
}
.proilepic{
  width: 45px;
  border-radius: 50%;
    display: flex;
}
.post-top-section{
  /* margin: px 0px; */
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  /* border: .4px solid grey; */
  /* box-shadow: 0px 1px 5px green; */
  margin-bottom: 2px;
}
.username{
  padding-top: -20px;
  font-size: 18px;
  font-weight: 500;
  /* width:20%; */
}
.timestamp{
  margin-top: -25px;
  margin-left: 70px;
  font-size: .7rem;
  color: grey;
}
.postpictuer{
  width: 456px;
  margin-top: -10px;
  /* border-left: 1px solid red; */
  /* height: max-content; */
}
.post-bottom-section{
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 9px ;
  /* margin-top: -10px; */
  /* border: .4px solid grey;   */
}
.caption{
  margin-left: 9px;
  font-size: 1rem;
  opacity: 90%;
  padding: 5px;
  margin-top: -15px;
  margin-bottom: -1px;
}
.likes-text{
  margin-left: 9px;
  font-size: 1rem;
  opacity: 90%;
  /* padding: 5px; */
}
.seeall{
  margin-left: 300px;
  margin-top: -44px;
  opacity: 90%;
  color: rgb(86, 86, 86);
  font-weight: 500;
  font-size: 1.1rem;
}
.suggestionbContainer{
  display: flex;
  gap: 20px; 
}
.suggestionProilepic{
  border-radius: 50%;
  width: 50px;
}
.suggestionMain{
  position: fixed;
}
.story{
  height: 100px;
  display: flex;
}
.gradient-border{
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00);
}
.gradient-border :hover{
  cursor: pointer;
}
.story-dp{
  background-color: #ff77;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.storyImage{
  height: 100vh;
  /* margin: 3px 0px; */
  overflow: hidden;
  /* position: ; */
}
.inner-story-dp{
  z-index: 999;
  position: absolute;
  top:10px;
  margin: 2px 5px;
  left: 37%;
}
.n-story-dp{
  background-color: #ff77;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
Link{
  text-decoration: none;
  color: black;
}
.profile-container{
  overflow: hidden;
}
.profile-container img , h4 ,button{
  position: relative;
  left: 40%;
  font-size: 3rem;

}
.profile-profile{
  /* width: 100%; */
  /* left: 40%; */
  width: 180px;
}
